@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    min-height: 100vh;
    background-image: url('/images/pattern-background-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 450px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-content{
    width: 80%;
    text-align: center;
}
.card-content > h1 {
    padding-top: 40px;
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;
}
.card-content > p {
    font-size: 16px;
    padding-top: 20px;
    line-height: 25px;
    color: hsl(224, 23%, 55%);
}
.card-plan{
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}
.plan-price{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-image > img{
    width: 45px;
    margin-right: 20px;
}
.price-content > h4 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 16px;
}
.price-content > p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}
.price-content > h4, p {
    line-height: 25px;
}
.plan-change{
    width: 50%;
    display: flex;
    justify-content: end;
}
.plan-change > a:hover{
    opacity: .85;
}
.plan-change > a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 14px;
}
.card-order{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}
.proceed{
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    padding: 12px;
    font-size: 15px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 1px 10px 15px #dddaf7;
}
.proceed:hover{
    opacity: .85;
}
.cancel{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 585px) {
    .card{
        min-width: 360px;
    }
    .card-content > h1{
        font-size: 26px;
    }
    .card-content > p{
        font-size: 15px;
    }
    .price-content > h4{
        font-size: 13px;
    }
    .price-content > p {
        font-size: 13.5px;
    }
    .price-image > img{
        width: 41px;
    }
    .plan-change > a{
        font-size: 12px;
    }
    .proceed{
        font-size: 13px;
    }
    .cancel{
        font-size: 12px;
    }
}