@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

*{
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    width: 1440px;
    height: 900px;
    background-image: url(/images/pattern-background-desktop.svg);
    background-color: #e0e8ff;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 450px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
h1{
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    padding-top: 20px;
}
p{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    color: hsl(224, 23%, 55%);
}
#content1::after, #content2::after{
    content: "\a";
    white-space: pre;
}
#price-plan{
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#first-element{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#first-element > h5, p{
    margin: 0px;
    padding: 0px;
}
#second-element{
    width: 50%;    
}
